@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

body.page1 {
    background-image: url(background.jpg);
    
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

body.page2 {
    background-color: #3fb0ac;
}


h1 {
    text-align: center;
    color: rgb(197, 246, 248);
    font-size: 3rem;
}

.list {
    text-align: center;
    margin-top: 5rem;
}

li {
    margin-top: 10rem;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

a:hover {
    color: rgb(252, 201, 210);
}

.container-img {
    display: flex;
    justify-content: center;
}

h2 {
    color: rgb(197, 246, 248);
    text-align: center;
    font-size: 1.8rem;
}

p {
    color: rgb(14, 11, 11);
    text-align: center;
    font-size: 1.5rem;
}

h3 {
    text-align: center;
    color: rgb(197, 246, 248);
    font-size: 1.8rem;
}

.dish-list {
    color: rgb(14, 11, 11);
    font-size: 1.3rem;
    text-align: center;
    list-style: none;
    margin-top: 0.5rem;
    
}

.element > img {
    width: 450px;
    height: 320px;
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 5rem;
}

         
.btn-grad {
    background-image: linear-gradient(to right, #DC2424 0%, #4A569D  51%, #DC2424  100%);
    margin: 5px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 12px;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
         
  .btn-grad-page {
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    margin: 10px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
  }

  .btn-grad-page:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
    



